@model Urbanizacion.Web.Data.Entities.TBL_ROL

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>TBL_ROL</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ROL_ID" />
            <div class="form-group">
                <label asp-for="ROL_DESCRIPCION" class="control-label"></label>
                <input asp-for="ROL_DESCRIPCION" class="form-control" />
                <span asp-validation-for="ROL_DESCRIPCION" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ROL_FECHACREACION" class="control-label"></label>
                <input asp-for="ROL_FECHACREACION" class="form-control" />
                <span asp-validation-for="ROL_FECHACREACION" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ROL_ESTADO" class="control-label"></label>
                <input asp-for="ROL_ESTADO" class="form-control" />
                <span asp-validation-for="ROL_ESTADO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

